
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #351004,
    20: #4f2415,
    25: #5d2f1f,
    30: #6b3929,
    35: #784534,
    40: #86503f,
    50: #a36855,
    60: #c0816d,
    70: #de9b86,
    80: #fdb69f,
    90: #ffdbd0,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #291800,
    20: #452b00,
    25: #543500,
    30: #624004,
    35: #6f4b11,
    40: #7d571c,
    50: #996f33,
    60: #b58949,
    70: #d3a361,
    80: #f0be79,
    90: #ffddb3,
    95: #ffeedc,
    98: #fff8f4,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #221b00,
    20: #3b2f00,
    25: #473a04,
    30: #53460f,
    35: #60511b,
    40: #6c5d26,
    50: #87763c,
    60: #a29053,
    70: #bdaa6a,
    80: #dac683,
    90: #f7e29c,
    95: #fff0c5,
    98: #fff8ef,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #201a19,
    20: #352f2d,
    25: #413a38,
    30: #4c4543,
    35: #58514f,
    40: #655d5a,
    50: #7e7573,
    60: #988f8c,
    70: #b3a9a6,
    80: #cfc4c1,
    90: #ece0dd,
    95: #faeeeb,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
    4: #120d0c,
    6: #171211,
    12: #241e1d,
    17: #2f2927,
    22: #3a3331,
    24: #3e3836,
    87: #e3d8d4,
    92: #f2e6e2,
    94: #f7ebe8,
    96: #fdf1ee,
  ),
  neutral-variant: (
    0: #000000,
    10: #241915,
    20: #3a2d29,
    25: #463834,
    30: #52443f,
    35: #5e4f4b,
    40: #6b5b56,
    50: #85736e,
    60: #9f8d87,
    70: #bba7a1,
    80: #d7c2bc,
    90: #f4ded8,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);


// Define the theme object.
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: 0,
  )
));
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
  )
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($light-theme);
}
// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($frontend-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
