<mat-grid-list [cols]="isSmallScreen ? 1 : 2" rowHeight="100%">
    <mat-grid-tile *ngIf="!isSmallScreen">
        <img src="/LoginImage.png" alt="" width="90%">
    </mat-grid-tile>

    <mat-grid-tile>
        <form class="form" (ngSubmit)="onSubmit()">

          <div *ngIf="isSmallScreen" style="display: flex;justify-content: center;" >
            <img src="/Budget Budy.png" width="75%"  />
          </div>

            <h1 style="font-weight: 400;">Create an account</h1>
            <p style="font-weight: 200;">It's quick and easy</p>
            

            
            <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input type="email" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. john">
              <mat-hint>Errors appear instantly!</mat-hint>
              @if (usernameFormControl.hasError('required')) {
                <mat-error>Username is <strong>required</strong></mat-error>
              }
              @if (usernameFormControl.hasError('minlength')) {
                <mat-error>Username must be at least <strong>3 characters long</strong></mat-error>
              }
              @if (usernameFormControl.hasError('maxlength')) {
                <mat-error>Username must be no more than <strong>20 characters long</strong></mat-error>
              }
              @if (usernameFormControl.hasError('pattern')) {
                <mat-error>Username can only contain letters, numbers, underscores, or hyphens.</mat-error>
              }
              @if (usernameFormControl.hasError('reservedUsername')) {
                <mat-error>This username is <strong>reserved</strong>.</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-hint>Errors appear instantly!</mat-hint>
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                  <mat-error>Please enter a valid email address</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                  <mat-error>Email is <strong>required</strong></mat-error>
                }
                @if (emailFormControl.hasError('minlength')) {
                  <mat-error>Email must be at least <strong>5 characters long</strong></mat-error>
                }
                @if (emailFormControl.hasError('maxlength')) {
                  <mat-error>Email must be no more than <strong>254 characters long</strong></mat-error>
                }
                @if (emailFormControl.hasError('reservedEmail')) {
                  <mat-error>This email is <strong>registered</strong>.</mat-error>
                }
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                       placeholder="Ex. ********">
                <mat-hint>Errors appear instantly!</mat-hint>
                
                @if (passwordFormControl.hasError('required')) {
                  <mat-error>Passowrd is <strong>required</strong></mat-error>
                }
                @if (passwordFormControl.hasError('minlength')) {
                  <mat-error>Password must be at least <strong>8 characters long</strong></mat-error>
                }
                @if (passwordFormControl.hasError('maxlength')) {
                  <mat-error>Password must be no more than <strong>128 characters long</strong></mat-error>
                }
                @if (passwordFormControl.hasError('pattern')) {
                  <mat-error>Password must one uppercase & lowercase letter, digit and spacial character.</mat-error>
                }
              </mat-form-field>
              <div class="center-button">
                <button type="submit" mat-flat-button class="signin-button">Sign in</button>
              </div>
            </form>
          
            <div class="absolute">
              Already Have an account, <span class="link" [routerLink]="'/login'">Log in</span>
            </div>

    </mat-grid-tile>
  </mat-grid-list>